@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "_Layout";
}
 <main class="main-content">
            <div class="breadcrumb-area breadcrumb-height" data-bg-image="https://hinhanhdep.vn/wp-content/uploads/2019/06/hinh-nen-dien-thoai-4k-hd-7-1024x910.jpg">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-12">
                            <div class="breadcrumb-item">
                                <h2 style="color: white;" class="breadcrumb-heading">Về chúng tôi</h2>
                                <ul>
                                    <li>
                                        <a style="color: white;" href="/">Home <i class="pe-7s-angle-right"></i></a>
                                    </li>
                                    <li style="color: white;">Về chúng tôi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-banner different-bg-position section-space-y-axis-100" data-bg-image="https://vietnampfa.com/cache/gallery/6000_instalaciones-symaga_1546419844_jpg_987b74c57b2b2be6996d1c2b661ee454.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-5">
                            <div class="parallax-img-wrap">
                                <div class="papaya">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.2">
                                            <img src="http://baoanepoxy.com/wp-content/uploads/2016/12/che-bien-thit-ga-japandotner.jpg" alt="Banner Images">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 align-self-center">
                            <div class="about-banner-content">
                                <div class="section-title">
                                    <span style="color: red;" class="sub-title">Chào mừng đến với Glory Shop</span>
                                    <h2 style="color: red;" class="title font-size-60 mb-6">Cửa hàng thực phẩm tốt nhất</h2>
                                    <p style="color: red;" class="short-desc mb-0">Cửa hàng thực phẩm sạch Glory Shop luôn cung cấp đến khách hàng nguồn thực phẩm sạch rõ ràng về nguồn gốc, xuất xứ, trung thực trong chất lượng sản phẩm và hướng đến sức khỏe cộng đồng.. </p>
                                    <div class="button-wrap pt-8">
                                        <a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="shop.html">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-area section-space-y-axis-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="intro-item text-white" data-bg-color="#aec581">
                                <div class="intro-icon mb-5">
                                    <img src="~/assets/images/about/intro/icon/1-1-170x165.png" alt="Intro Icon">
                                </div>
                                <div class="intro-content">
                                    <h3 class="title mb-4">Who We Are</h3>
                                    <p class="short-desc mb-0">Luôn mang đến thực phẩm an toàn và giá cả tốt nhất</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                            <div class="intro-item text-white" data-bg-color="#b9cbe7">
                                <div class="intro-icon mb-5">
                                    <img src="~/assets/images/about/intro/icon/1-1-170x165.png" alt="Intro Icon">
                                </div>
                                <div class="intro-content">
                                    <h3 class="title mb-4">Our Products</h3>
                                    <p class="short-desc mb-0">100 từ thiên nhiên, không chất bảo quản</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                            <div class="intro-item text-white" data-bg-color="#b8a780">
                                <div class="intro-icon mb-5">
                                    <img src="~/assets/images/about/intro/icon/1-1-170x165.png" alt="Intro Icon">
                                </div>
                                <div class="intro-content">
                                    <h3 class="title mb-4">How We Work</h3>
                                    <p class="short-desc mb-0">Chúng tôi làm việc dựa trên giá trị của sản phẩm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-banner about-banner-height" data-bg-image="https://anhdepfree.com/wp-content/uploads/2020/01/hinh-nen-la-cay-dep_01.jpg">
                <div class="popup-btn">
                    <a class="popup-vimeo wave-btn" href="https://player.vimeo.com/video/172601404?autoplay=1">
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="icon">
                            <i class="fa fa-play"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="team-member section-space-top-100">
                @* <div class="container">
                    <div class="section-title text-center pb-55">
                        <span class="sub-title text-primary">Hand Work</span>
                        <h2 class="title mb-0">Our Expart Team</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="swiper-container team-member-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="team-member-item">
                                            <div class="team-member-img img-zoom-effect with-overlay">
                                                <a href="javascript:void(0)">
                                                    <img class="img-full" src="~/assets/images/about/team/1-1-370x350.jpg" alt="Team Member">
                                                </a>
                                            </div>
                                            <div class="team-member-content text-black pt-5">
                                                <h6 class="title mb-0">Nicole Williams</h6>
                                                <span class="occupation">Director</span>
                                                <div class="social-link with-border justify-content-center pt-2">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-pinterest-p"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-member-item">
                                            <div class="team-member-img img-zoom-effect with-overlay">
                                                <a href="javascript:void(0)">
                                                    <img class="img-full" src="~/assets/images/about/team/1-2-370x350.jpg" alt="Team Member">
                                                </a>
                                            </div>
                                            <div class="team-member-content text-black pt-5">
                                                <h6 class="title mb-0">Nicole Williams</h6>
                                                <span class="occupation">Director</span>
                                                <div class="social-link with-border justify-content-center pt-2">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-pinterest-p"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="team-member-item">
                                            <div class="team-member-img img-zoom-effect with-overlay">
                                                <a href="javascript:void(0)">
                                                    <img class="img-full" src="~/assets/images/about/team/1-3-370x350.jpg" alt="Team Member">
                                                </a>
                                            </div>
                                            <div class="team-member-content text-black pt-5">
                                                <h6 class="title mb-0">Nicole Williams</h6>
                                                <span class="occupation">Director</span>
                                                <div class="social-link with-border justify-content-center pt-2">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-pinterest-p"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-tumblr"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <i class="fa fa-dribbble"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> *@
            </div>
        </main>
        <!-- Main Content Area End Here -->

        <!-- Begin Shipping Area -->
        <div class="shipping-area section-space-y-axis-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="shipping-item">
                                <div class="shipping-img">
                                    <img src="~/assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h5 class="title">Miễn phí giao hàng</h5>
                                    <p class="short-desc mb-0">Giao hàng tận nhà miễn phí</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                            <div class="shipping-item">
                                <div class="shipping-img">
                                    <img src="~/assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h5 class="title">Hỗ trợ trực tuyến</h5>
                                    <p class="short-desc mb-0">Hỗ trợ 24/7</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                            <div class="shipping-item">
                                <div class="shipping-img">
                                    <img src="~/assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h5 class="title">Thanh toán an toàn</h5>
                                    <p class="short-desc mb-0">Hệ thống thanh toán an toàn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Shipping Area End Here -->
        